<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ansible Deployed Tomcat</title>
  <meta name="description" content="Ansible Created Content">
  <meta name="erolgur@au1.ibm.com" content="Ansible"SitePoint">

</head>

<body>
    <h1>Ansible execution has been refined - Welcome to Tomcat on {{ inventory_hostname }}</h1>
</body>
</html>
